@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
  <h1 class="display-4">Welcome</h1>



  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <h2> DE APPELBAK</h2>
</div> -->
<ul>
    @foreach (Festival f in Model)
    {
        <li>
            @f.Naam is een @f.Informatie op @f.Datum
        </li>
    }
</ul>


<div class="banner">
    <p class="box"> Koop nu tickets voor het eerst volgende festival: De Feesttent!</p>
</div>
<h1 class="text"> Home</h1>


@foreach (Festival f in Model)
{
<table>
    <tr>
        <th>Festival naam</th>
        <th>Informatie</th>
        <th>Datum</th>
    </tr>
    <tr>
        <td>@f.Naam</td>
        <td>@f.Informatie</td>
        <td>@f.Datum</td>
    </tr>
    <tr>
        <td>@f.Naam</td>
        <td>@f.Informatie</td>
        <td>@f.Datum</td>
    </tr>
    <tr>
        <td>@f.Naam</td>
        <td>@f.Informatie</td>
        <td>@f.Datum</td>
    </tr>
    <tr>
        <td>@f.Naam</td>
        <td>@f.Informatie</td>
        <td>@f.Datum</td>
    </tr>
    <tr>
        <td>@f.Naam</td>
        <td>@f.Informatie</td>
        <td>@f.Datum</td>
    </tr>
    <tr>
        <td>@f.Naam</td>
        <td>@f.Informatie</td>
        <td>@f.Datum</td>
    </tr>
</table>
}
